@page
@model IndexModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Johnny 5 Bot</h1>
    <p>is Alive</p>  
</div>

<div>
    <iframe frameborder="0"
            scrolling="no"
            id="<ramblinggeek"
            src="https://www.twitch.tv/embed/ramblinggeek/chat"
            height="768"
            width="1100">
    </iframe>
</div>

<div>
    
</div>