@page
@model IndexModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Johnny 5 Bot</h1>
    <p>Johnny 5 Bot is Alive</p>  
</div>
